<center><img src="redpopcorn.jpg"></center>

**Netflix**! What started in 1997 as a DVD rental service has since exploded into one of the largest entertainment and media companies.

Given the large number of movies and series available on the platform, it is a perfect opportunity to flex your exploratory data analysis skills and dive into the entertainment industry.

You work for a production company that specializes in nostalgic styles. You want to do some research on movies released in the 1990's. You'll delve into Netflix data and perform exploratory data analysis to better understand this awesome movie decade!

You have been supplied with the dataset `netflix_data.csv`, along with the following table detailing the column names and descriptions. Feel free to experiment further after submitting!

## The data
### **netflix_data.csv**
| Column | Description |
|--------|-------------|
| `show_id` | The ID of the show |
| `type` | Type of show |
| `title` | Title of the show |
| `director` | Director of the show |
| `cast` | Cast of the show |
| `country` | Country of origin |
| `date_added` | Date added to Netflix |
| `release_year` | Year of Netflix release |
| `duration` | Duration of the show in minutes |
| `description` | Description of the show |
| `genre` | Show genre |

In [16]:
# Importing pandas and matplotlib
import pandas as pd

# Read in the Netflix CSV as a DataFrame
netflix_df = pd.read_csv("netflix_data.csv")
print(netflix_df.head)

<bound method NDFrame.head of      show_id     type       title           director  \
0         s2    Movie        7:19  Jorge Michel Grau
1         s3    Movie       23:59       Gilbert Chan
2         s4    Movie           9        Shane Acker
3         s5    Movie          21     Robert Luketic
4         s6  TV Show          46        Serdar Akar
...      ...      ...         ...                ...
4807   s7779    Movie  Zombieland    Ruben Fleischer
4808   s7781    Movie         Zoo       Shlok Sharma
4809   s7782    Movie        Zoom       Peter Hewitt
4810   s7783    Movie        Zozo        Josef Fares
4811   s7784    Movie      Zubaan        Mozez Singh

                                                   cast        country  \
0     Demián Bichir, Héctor Bonilla, Oscar Serrano, ...         Mexico
1     Tedd Chan, Stella Chung, Henley Hii, Lawrence ...      Singapore
2     Elijah Wood, John C. Reilly, Jennifer Connelly...  United States
3     Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...  United States
4     Erdal Beşikçioğlu, Yasemin Allen, Melis Birkan...         Turkey
...                                                 ...            ...
4807  Jesse Eisenberg, Woody Harrelson, Emma Stone, ...  United States
4808  Shashank Arora, Shweta Tripathi, Rahul Kumar, ...          India
4809  Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...  United States
4810  Imad Creidi, Antoinette Turk, Elias Gergi, Car...         Sweden
4811  Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...          India

             date_added  release_year  duration  \
0     December 23, 2016          2016        93
1     December 20, 2018          2011        78
2     November 16, 2017          2009        80
3       January 1, 2020          2008       123
4          July 1, 2017          2016         1
...                 ...           ...       ...
4807   November 1, 2019          2009        88
4808       July 1, 2018          2018        94
4809   January 11, 2020          2006        88
4810   October 19, 2020          2005        99
4811      March 2, 2019          2015       111

                                            description             genre
0     After a devastating earthquake hits Mexico Cit...            Dramas
1     When an army recruit is found dead, his fellow...     Horror Movies
2     In a postapocalyptic world, rag-doll robots hi...            Action
3     A brilliant group of students become card-coun...            Dramas
4     A genetics professor experiments with a treatm...  International TV
...                                                 ...               ...
4807  Looking to survive in a world taken over by zo...          Comedies
4808  A drug dealer starts having doubts about his t...            Dramas
4809  Dragged from civilian life, a former superhero...          Children
4810  When Lebanon's Civil War deprives Zozo of his ...            Dramas
4811  A scrappy but poor boy worms his way into a ty...            Dramas

[4812 rows x 11 columns]>

In [17]:
# Subsets the movies released in the 1990s from netflix_df
movies_in_1990s = netflix_df[(netflix_df['type'] == 'Movie') & 
                             ((netflix_df['release_year'] < 2000) & 
                             (netflix_df['release_year'] > 1989))]
print(movies_in_1990s.head)

<bound method NDFrame.head of      show_id   type                            title            director  \
6         s8  Movie                              187      Kevin Reynolds
118     s167  Movie                A Dangerous Woman  Stephen Gyllenhaal
145     s211  Movie           A Night at the Roxbury    John Fortenberry
167     s239  Movie  A Thin Line Between Love & Hate     Martin Lawrence
194     s274  Movie                     Aashik Awara         Umesh Mehra
...      ...    ...                              ...                 ...
4672   s7536  Movie                      West Beirut        Ziad Doueiri
4689   s7571  Movie      What's Eating Gilbert Grape     Lasse Hallström
4718   s7624  Movie                   Wild Wild West    Barry Sonnenfeld
4746   s7682  Movie                       Wyatt Earp     Lawrence Kasdan
4756   s7695  Movie                      Yaar Gaddar         Umesh Mehra

                                                   cast        country  \
6     Samuel L. Jackson, John Heard, Kelly Rowan, Cl...  United States
118   Debra Winger, Barbara Hershey, Gabriel Byrne, ...  United States
145   Will Ferrell, Chris Kattan, Dan Hedaya, Molly ...  United States
167   Martin Lawrence, Lynn Whitfield, Regina King, ...  United States
194   Saif Ali Khan, Mamta Kulkarni, Mohnish Bahl, S...          India
...                                                 ...            ...
4672  Rami Doueiri, Mohamad Chamas, Rola Al Amin, Ca...         France
4689  Johnny Depp, Leonardo DiCaprio, Juliette Lewis...  United States
4718  Will Smith, Kevin Kline, Kenneth Branagh, Salm...  United States
4746  Kevin Costner, Dennis Quaid, Gene Hackman, Dav...  United States
4756  Mithun Chakraborty, Saif Ali Khan, Somy Ali, P...          India

            date_added  release_year  duration  \
6     November 1, 2019          1997       119
118      April 1, 2018          1993       101
145   December 1, 2019          1998        82
167   December 1, 2020          1996       108
194       June 1, 2017          1993       154
...                ...           ...       ...
4672  October 19, 2020          1999       106
4689   January 1, 2021          1993       118
4718   January 1, 2020          1999       106
4746   January 1, 2020          1994       191
4756      July 1, 2017          1994       148

                                            description           genre
6     After one of his high school students attacks ...          Dramas
118   At the center of this engrossing melodrama is ...          Dramas
145   After a run-in with Richard Grieco, dimwits Do...        Comedies
167   When a philandering club promoter sets out to ...        Comedies
194   Raised by a kindly thief, orphaned Jimmy goes ...          Dramas
...                                                 ...             ...
4672  Three intrepid teens roam the streets of Beiru...          Dramas
4689  In a backwater Iowa town, young Gilbert is tor...  Classic Movies
4718  Armed with an ingenious arsenal, two top-notch...          Action
4746  Legendary lawman Wyatt Earp is continually at ...          Action
4756  When his brother becomes involved in a deadly ...          Dramas

[183 rows x 11 columns]>

In [18]:
# Identifies the most frequent duration
most_frequent_duration_1990s = movies_in_1990s['duration'].mode()
duration = most_frequent_duration_1990s.iloc[-1]
print(duration)

94

In [19]:
# Subsets the 'action' movies released in the '1990s' with less than '90 minutes' of duration from netflix_df 
short_action_movies_1990s = netflix_df[(netflix_df['genre'] == 'Action') & (netflix_df['duration'] < 90) &
                                      ((netflix_df['release_year'] < 2000) & (netflix_df['release_year'] > 1989))]
# print(short_action_movies_1990s.head)

In [20]:
# Counting the number of rows in the subsetted DataFrame
short_movie_count = len(short_action_movies_1990s)
print(short_movie_count)

7