![New York City schoolbus](schoolbus.jpg)

Photo by [Jannis Lucas](https://unsplash.com/@jannis_lucas) on [Unsplash](https://unsplash.com).
<br>

Every year, American high school students take SATs, which are standardized tests intended to measure literacy, numeracy, and writing skills. There are three sections - reading, math, and writing, each with a **maximum score of 800 points**. These tests are extremely important for students and colleges, as they play a pivotal role in the admissions process.

Analyzing the performance of schools is important for a variety of stakeholders, including policy and education professionals, researchers, government, and even parents considering which school their children should attend. 

You have been provided with a dataset called `schools.csv`, which is previewed below.

You have been tasked with answering three key questions about New York City (NYC) public school SAT performance.

In [1]:
# Re-run this cell 
import pandas as pd

# Read in the data
schools = pd.read_csv("schools.csv")

# Preview the data
schools.head()

,school_name,borough,building_code,average_math,average_reading,average_writing,percent_tested
0,"New Explorations into Science, Technology and ...",Manhattan,M022,657,601,601,NaN
1,Essex Street Academy,Manhattan,M445,395,411,387,78.9
2,Lower Manhattan Arts Academy,Manhattan,M445,418,428,415,65.1
3,High School for Dual Language and Asian Studies,Manhattan,M445,613,453,463,95.9
4,Henry Street School for International Studies,Manhattan,M056,410,406,381,59.7

In [2]:
# Which NYC schools have the best math results?
# Save your results in a pandas DataFrame called best_math_schools, including "school_name" and "average_math" columns, sorted by "average_math" in descending order.

schools_sorted_by_math_scores = schools[["school_name", "average_math"]].sort_values("average_math", ascending=False)
best_math_schools = schools_sorted_by_math_scores[schools_sorted_by_math_scores["average_math"] >= 800*.80]
print(best_math_schools)

                                           school_name  average_math
88                              Stuyvesant High School           754
170                       Bronx High School of Science           714
93                 Staten Island Technical High School           711
365  Queens High School for the Sciences at York Co...           701
68   High School for Mathematics, Science, and Engi...           683
280                     Brooklyn Technical High School           682
333                        Townsend Harris High School           680
174  High School of American Studies at Lehman College           669
0    New Explorations into Science, Technology and ...           657
45                       Eleanor Roosevelt High School           641

In [3]:
# What are the top 10 performing schools based on the combined SAT scores?
# Save your results as a pandas DataFrame called top_10_schools containing the "school_name" and a new column named "total_SAT", with results ordered by "total_SAT" in descending order ("total_SAT" being the sum of math, reading, and writing scores).

schools["total_SAT"] = schools[["average_math", "average_reading", "average_writing"]].sum(axis=1)
top_schools = schools[["school_name", "total_SAT"]].sort_values("total_SAT", ascending=False)
top_10_schools = top_schools.iloc[0:10]
print(top_10_schools)

                                           school_name  total_SAT
88                              Stuyvesant High School       2144
170                       Bronx High School of Science       2041
93                 Staten Island Technical High School       2041
174  High School of American Studies at Lehman College       2013
333                        Townsend Harris High School       1981
365  Queens High School for the Sciences at York Co...       1947
5                       Bard High School Early College       1914
280                     Brooklyn Technical High School       1896
45                       Eleanor Roosevelt High School       1889
68   High School for Mathematics, Science, and Engi...       1889

In [4]:
# Which single borough has the largest standard deviation in the combined SAT score?
# Save your results as a pandas DataFrame called largest_std_dev.
# The DataFrame should contain one row, with:
    # "borough" - the name of the NYC borough with the largest standard deviation of "total_SAT".
    # "num_schools" - the number of schools in the borough.
    # "average_SAT" - the mean of "total_SAT".
    # "std_SAT" - the standard deviation of "total_SAT".
# Round all numeric values to two decimal places.

# searching for the largest std_dev
print(schools.groupby("borough")["total_SAT"].std().head())

borough
Bronx            150.393901
Brooklyn         154.868427
Manhattan        230.294140
Queens           195.252899
Staten Island    222.303596
Name: total_SAT, dtype: float64

In [5]:
# reset the pivot table to rename column
new_df = pd.DataFrame(schools.groupby("borough")["total_SAT"].std())
new_df = new_df.reset_index()
print(new_df.head())

print("\n" * 2)

new_df_renamed = new_df.rename(columns={'total_SAT': 'std_SAT'})
print(new_df_renamed)

         borough   total_SAT
0          Bronx  150.393901
1       Brooklyn  154.868427
2      Manhattan  230.294140
3         Queens  195.252899
4  Staten Island  222.303596



         borough     std_SAT
0          Bronx  150.393901
1       Brooklyn  154.868427
2      Manhattan  230.294140
3         Queens  195.252899
4  Staten Island  222.303596

In [6]:
# sorting the values to get the borough with the highest std
new_df_sorted = new_df_renamed.sort_values("std_SAT", ascending=False)
print(new_df_sorted.head())

         borough     std_SAT
2      Manhattan  230.294140
4  Staten Island  222.303596
3         Queens  195.252899
1       Brooklyn  154.868427
0          Bronx  150.393901

In [7]:
# Finding the number of schools in Manhattan
schools_in_manhattan = schools[schools["borough"] == "Manhattan"].count()
print(schools_in_manhattan)
schools_in_manhattan_count = schools_in_manhattan.iloc[0]
print(schools_in_manhattan_count)

school_name        89
borough            89
building_code      89
average_math       89
average_reading    89
average_writing    89
percent_tested     84
total_SAT          89
dtype: int64
89

In [8]:
# Finding the average SAT in Manhattan
manhattan_avg_sat = schools[schools["borough"]== "Manhattan"]["total_SAT"].mean()
print(manhattan_avg_sat)

1340.1348314606741

In [9]:
# Save your results as a pandas DataFrame called largest_std_dev.
# The DataFrame should contain one row, with:
    # "borough" - the name of the NYC borough with the largest standard deviation of "total_SAT".
    # "num_schools" - the number of schools in the borough.
    # "average_SAT" - the mean of "total_SAT".
    # "std_SAT" - the standard deviation of "total_SAT".
# Round all numeric values to two decimal places.

result_dict = {"borough": new_df_sorted.iloc[0]['borough'],
              "num_schools": schools_in_manhattan_count,
              "average_SAT": round(manhattan_avg_sat, 2),
              "std_SAT": round(new_df_sorted.iloc[0]['std_SAT'], 2)}
largest_std_dev = pd.DataFrame([result_dict])
print(largest_std_dev)

     borough  num_schools  average_SAT  std_SAT
0  Manhattan           89      1340.13   230.29